{% include('@VkHealthCare/navbar/header.php.twig') %}
<div class="container">
  <h2>Basic Details</h2>
  <a href="{{path('index_path')}}" class="btn btn-info pull-right"> Add </a>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Phto</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Blod Group</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for key , data in formData %}
          <tr>
            <th scope="row">1</th>
            <td width="20%"> <img src="{{asset('uploads/posts/'~data.profile~'')}}" class="img-responsive" alt="image post" width="20%"></td>
            <td>{{data.fullname}}</td>
            <td>{{data.age}}</td>
            <td>{{data.bog}}</td>
            <td>{{data.phone}}</td>
            <td>
              <a href="{{path('get_form_edit',{id:data.id})}}" class="btn btn-success"> Edit </a>
              <a href="{{path('delete_form__id',{id:data.id})}}" class="btn btn-info danger-right"> Delete </a>
              <a href="{{path('create_post_form__id',{id:data.id})}}" class="btn btn-success"> Creat Post </a>
            </td>
          </tr>
        {% endfor %}
          
        </tbody>
      </table>
</div>


{% include('@VkHealthCare/navbar/footer.php.twig') %}