<!DOCTYPE html>
<html lang="en">
<head>
  <title>Symfony Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{asset('library/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{asset('custom/customcss.css')}}">
  <script src="{{asset('library/js/jquery.min.js')}}"></script>
  <script src="{{asset('library//bootstrap.min.js')}}"></script>
</head>
<body>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{{path('get_form_action')}}">Team</a></li>
        <li><a href="{{path('get_user_post')}}">Post</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
    </div>
    </nav>
